.fc-col-header-cell  {
    background-color: white!important;
}
.fc-day {
    background-color: white!important;
}
.fc-timegrid-axis {
    background-color: white;
}
.fc-timegrid-slot-label {
    background-color: white!important;
    color: black;
}
.fc-view {
    height: 130vh;
}
.fc-scroller-harness-liquid {
    height: 130vh
}