.divheader {
    display: flex;
    width: 100%;
    background-color: #689ECA;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.divheader h1 {
    margin-left: 20px;
}

.divButtons {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
}

.viewModeButton {
    width: calc(25% - 25px);
    background-color: #689ECA;
    border-color: white;
}

.logoutButton {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 20px;
}

.logoutButton:hover {
    cursor: pointer;
}

.fc-col-header-cell-cushion {
    color: black!important;
}

.fc-timegrid-slot-label-cushion {
    color: black!important;   
}

.fc-today-button {
    opacity: 1!important;
}

@media screen and (max-width: 1100px) {
    .divButtons {
        width: 60%;
    }
}

@media screen and (max-width: 650px) {
    .divButtons {
        width: 100%;
        justify-content: flex-start;
    }

    .viewModeButton {
        width: 90px;
        margin-left: 20px;
    }

    .divheader h1 {
        display: none;
    }
}

@media screen and (max-width: 430px) {
    .viewModeButton {
        width: 80px;
        margin-left: 10px;
    }

    .logoutButton {
        right: 0;
    }
}
