:root {
    --fc-border-color: black;
}

.fc-col-header-cell-cushion {
    color: black;
    padding: 20px 4px;
}

.fc-col-header-cell { /*pra células do header do calendario*/
    border-top: none;
    border-left: none;
    border-right: none;
    width: 150px!important;
    background-color: white;
    height: 20px!important;
}

.fc-col-header-cell-cushion { /*pro texto do header do calendario*/
    color: black;
    padding: 20px 4px;
}

.fc-day { /*isso aqui é pra célula que contém cada número da data*/
    width: 150px; /* Largura desejada */
    height: 100px; /* Altura desejada */
    background-color: white;
    
}

.fc-daygrid-day-frame { /*isso aqui é pra div que contém cada número, ela está contida em fc-day, não sei pq não criaram tudo como um*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.fc-daygrid-day-number{ /*isso aqui é pro número em si*/
    color: black!important;
}

.fc-day-today { /* estiliza o dia atual */
    background-color: white!important;
}
